.container {
    position: fixed;
    display: inline-flex;
    background-color: white;
    max-width: 100%;
    height: 50px;
    padding-right: 2%;
    z-index: 1;
}

header div {
    margin: auto;
}

.reddit_icon_and_text {
    min-width: 110px;
    width: 19%;
}

.reddit_icon_and_text img {
    height: 36px;
}

.search_bar {
    height: 34px;
    width: 92%;
    max-width: 690px;
    border-radius: 4px;
    background-color: #F6F7F8;
    padding: 10px 20px 10px 44px;
    border: 1px solid #edeff1;
    outline: none;
}

.search_bar::placeholder {
    color: #949494;
}

.search_bar:hover,
.search_bar:focus {
    border: 1px solid #0079d3;
}

.fa-search {
    position: absolute;
    font-size: x-large;
    color: #949494;
    margin-top: 6px;
    padding-left: 16px;
}

.login,
.signup {
    max-width: 110px;
    min-width: 80px;
    width: 100%;
    height: 32px;
    background-color: white;
    border: 1px solid #0079d3;
    color: #0079d3;
    border-radius: 9999px;
    font-weight: bold;
}

.login:hover {
    background-color: #fafcfc;
}

.login:focus {
    background-color: #f5f7f7;
}

.signup {
    border: 1px solid #0079d3;
    background-color: #0079d3;
    color: white;
}

.signup:hover {
    background-color: #0082dc;
    color: white;
}

.signup:focus {
    background-color: #0096dc;
    color: white;
}

.input_search {
    width: 58%;
    outline: none;
    height: 44px;
    margin: 9px;
}

.fa-user {
    background-color: white;
    color: #949494;
    border: 1px solid white;
    border-radius: 4px;
}

.fa-user:hover {
    border: 1px solid #949494;
    border-radius: 4px;
}

.buttons_header {
    width: 23%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}






