.one_news {
    width: auto;
    height: auto;
    background-color: #f8f9fa;
    margin: 10px 0 0 0;
    border: 1px solid grey;
    border-radius: 5px;
}

.one_news:hover {
    border: 1px solid black;
}

.fa-arrow-alt-circle-up,
.fa-arrow-alt-circle-down {
    color: #969696;
    background-color: #f8f9fa;
    border: 0;
    font-size: xx-large;
    text-align: center;
    border-radius: 5px;
    margin-left: -7px;
}

.fa-arrow-alt-circle-up:hover,
.fa-arrow-alt-circle-down:hover {
    color: #035891;
    background-color: #969696;
}

.vote {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    margin: 0;
}

.news_information {
    background-color: white;
}

.publisher img {
    height: 20px;
    width: 20px;
}

.publisher .underline:hover {
    text-decoration: underline;
}

.no_underline {
    font-size: smaller;
    color: #969696;
}

.no_underline:hover {
    color: #969696;
}

.title_news {
    margin-top: 7px;
    font-weight: bolder;
}

.img_news img {
    width: calc(100% + 25px);
    height: 100%;
    margin-bottom: 10px;
    margin-left: -12px;
}

.buttons_news button {
    color: #969696;
    background-color: white;
    font-size: large;
    border: 10px solid white;
    border-radius: 5px;
}

.fa-bookmark {
    font-weight: 900;
}

.buttons_news button:hover {
    border: 10px solid #e1e1e1;
    background-color: #e1e1e1;
}

.buttons_news {
    margin-bottom: 10px;
}

.join {
    width: 59px;
    height: 25px;
    border: 1px solid #0079d3;
    background-color: #0079d3;
    color: white;
    border-radius: 9999px;
    font-weight: bold;
}

.join:hover {
    background-color: #0082dc;
    color: white;
}

.join:focus {
    background-color: #0096dc;
    color: white;
}

.flex_elements {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.flex_left, .flex_right {
    margin: 0;
}

.news_information {
    border-radius: 5px;
}