section div {
    margin: auto;
}

section {
    padding-top: 50px;
}

.container_section {
    max-width: 990px;
}

.heading {
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 12px;
    font-weight: bold;
}

.one_trending {
    position: relative;
    display: inline;
}

.avatar_in_one_trending {
    position: absolute;
    top: 70px;
    left: 5px;
}
.avatar_in_one_trending a:hover {
    color: white;
}

.trending .avatars {
    width: 20px;
    height: 20px;
}

.text_in_one_trending {
    position: absolute;
    top: 0;
    left: 5px;
}

.text_in_one_trending span {
    color: white;
    font-size: x-large;
    line-height: 1;
}

.text_in_one_trending p {
    color: white;
    font-size: large;
    line-height: 1;
}
.avatar_in_one_trending a {
    color: white;
}

.trending a img {
    max-width: 239px;
    max-height: 182px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: grey;
}

.news_and_information_right {
    display: inline;
}

.news {
    width: 65%;
    float: left;
}

.information_right {
    width: 35%;
    float: left;
}

.sorting_news {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: white;
    padding-left: 20px;
}

.sorting_news button {
    border: 0;
    padding: 0;
}

.sorting_news button {
    background-color: white;
    transform: translateY(50%);
    height: 30px;
    width: 65px;
    border-radius: 30px;
}

.sorting_news button:hover{
    background-color: #c8c8c8;
}

.sorting_news button:focus {
    background-color: #969696;
    color: #0079d3;
}

.sorting_news button:hover i {
    background-color: #c8c8c8;
}

.sorting_news button:focus i {
    color: #969696;
}

.sorting_news button p {
    display: inline;
    margin-left: 6px;
    font-weight: lighter;
}

.sorting_news * {
    color: #969696;
}

.sorting_news button:focus * {
    color: #0079d3;
}

.fa-table {
    position: absolute;
    right: 20px;
}

.information_right {
    padding-left: 10px;
}

.top_sports_communities {
    position: relative;
    color: white;
    font-weight: bold;
}

.top_sports_communities img {
    height: 80px;
    width: 313px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: -81;
    background-color: #969696;
}

.top_sports_communities p {
    position: absolute;
    left: 5px;
    top: 55px;
}

.users {
    position: absolute;
    height: 445px;
    width: 315px;
    background-color: white;
    margin: 0;
    border-radius: 5px;
    border: 1px solid grey;
}

.user .fas {
    color: #46d160;
}

.user {
    height: 55px;
    border-bottom: 1px solid #c8c8c8;
}

.user span {
    padding-left: 15px;
}

.user i {
    padding-left: 5px;
}

.user {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.user img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.user_last {
    border-bottom: 0;
}

.users a {
    color: black;
}

.view_all {
    width: 100%;
    height: 32px;
    border: 1px solid #0079d3;
    background-color: #0079d3;
    color: white;
    border-radius: 9999px;
    font-weight: bold;
}

.view_all:hover {
    background-color: #0082dc;
    color: white;
}

.view_all:focus {
    background-color: #0096dc;
    color: white;
}

.button_view_all {
    padding: 10px;
}

.buttons {
    padding-left: 10px;
}

.buttons button {
    text-align: center;
    height: 25px;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    color: #0079d3;
    border-radius: 9999px;
    font-weight: bold;
}

.buttons button:hover {
    background-color: #9faec9;
    color: #0079d3;
}

.buttons button:focus {
    background-color: #929da9;
    color: #0079d3;
}

.reddit_premium {
    position: absolute;
    margin-top: 20px;
    width: 315px;
    height: auto;
    background-color: white;
    margin-left: 0;
    border-radius: 5px;
    border: 1px solid grey;
    padding-bottom: 10px;
}

.fa-shield-alt {
    padding-top: 30px;
    color: red;
    font-size: x-large;
}

.try_now {
    width: 100%;
    height: 32px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 9999px;
    font-weight: bold;
}

.try_now:hover {
    background-color: #ff3f3f;
    color: white;
}

.try_now:focus {
    background-color: #ff7171;
    color: white;
}

.button_try_now {
    padding: 0 10px 0 10px;
}

.text_premium {
    padding-top: 10px;
}

.text_premium p {
    margin: 0;
}

.text_reddit_premium {
    font-weight: bolder;
}

.navigation {
    height: auto;
    width: 315px;
    background-color: white;
    margin-top: 160px;
    border-radius: 5px;
    border: 1px solid grey;
}

.navigation_field {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px grey solid;
}

.navigation_field_last {
    border: 0;
}

.about {
    height: 220px;
    width: 315px;
    margin-top: 10px;
    margin-left: 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
}

.about *, .information a {
    font-size: small;
}

.information {
    padding: 10px 10px 20px 10px;
}

.information p {
    padding: 10px 10px 0 10px;
}

.sorting_news {
    border: 1px solid grey;
    border-radius: 5px;
}

.navigation a div span {
    font-size: x-small;
    font-weight: bolder;
}

