<ul>
	<li>Создать .NET Core проект c httpListener, который будет прослушивать ajax запросы с данной страницы. Можете использовать шаблоны проектоы, которые вы уже писали</li>
	<li>Эту страницу тоже добавить в проект</li>
	<li>Дописать эту страницу следующим образом:</li>
	<ul>
		<li>вначале организовать выбор html или css-файла с сервера для редактирования</li>
		<li>список файлов должен подгружаться с сервера. выбор файла можете сделать по нажатию на кнопку Edit</li>
		<li>после выбора файла открыть содержимое html-файла в данном редакторе</li>
		<li>для css-файла добавить на этой странице ещё одно поле textarea, в котором будет открываться содержимое файла</li>
		<li>добавить кнопку сохранить, для отправки измененного содержимого файла обратно на сервер для дальнейшего сохранения</li>
		<li>время от времени отправлять запрос на сервер для проверки, не изменил ли этот файл кто-то ещё, в случае если изменили, выдавать сообщения пользователю</li>
	</ul>
	<li>Последний отредактированный файл следует помещать при следующем открытии этой страницы этим же пользователем в этом же браузере на первой строке в списке доступных файлов</li>
	<li>Для ajax-запросов можно использовать jquery</li>
</ul>