﻿<header>
    <nav>
        <ul>
            <li><a class="nav-links" href="/html/index.html">Главная</a></li>
            <li><a class="nav-links" href="/html/fileHandler.html">Файлы</a></li>
            <li id="autho-item"><a class="nav-links" href="/html/autho.html">Авторизация</a></li>
            <li id="register-item"><a class="nav-links" href="/html/register.html">Регистрация</a></li>
        </ul>
    </nav>
</header>