<div class="container">
    <script src="../js/filter_table.js" type="text/javascript"></script>
    <div class="adding_student_div">
        <form id="adding_student_form">
            <div class="adding_student_inputs">
                <input type="text" id="input_student_id_number" placeholder="345234" name="Student ID number">
                <input type="text" id="input_second_name" placeholder="Иванов" name="Second Name">
                <input type="text" id="input_first_name" placeholder="Иван" name="First Name">
                <input type="text" id="input_patronymic" placeholder="Иванович" name="Patronymic">
            </div>
            <div class="adding_student_inputs">
                <input type="text" id="input_date_birth" placeholder="03.05.2010" name="Date birth">
                <input type="text" id="input_group_number" placeholder="11-805" name="Group number">
                <input type="text" id="input_email" placeholder="saasass@mail.ru" name="E-mail">
                <input type="text" id="input_additional_information"
                       placeholder="Например: люблю кушать" name="Additional information">
                <input type="submit" id="adding_student_btn" value="Добавить студента">
            </div>
           
            
            <div class="filter">
                <input type="text" placeholder="Поиск по фамилии" class="filter_input">
                <input type="text" placeholder="Поиск по имени" class="filter_input">
                <input type="text" placeholder="Поиск по отчеству" class="filter_input">
            </div>

            
        </form>
    </div>
    
    <table id="classmates_table">
        <tr>
            <th id="student_id_number">Номер студенческого билета</th>
            <th id="second_name">Фамилия</th>
            <th id="first_name">Имя</th>
            <th id="patronymic">Отчество</th>
            <th id="date_birth">Дата рождения</th>
            <th id="group_number">Номер группы</th>
            <th id="e_mail">E-mail</th>
            <th id="additional_information">Дополнительная информация</th>
        </tr>
    </table>
</div>