<div class="container">
    <div class="images">
        <img src="../jpg/[1].jpg" alt="Автор спит">
        <img src="../jpg/[2].jpg" alt="Автор спит">
        <img src="../jpg/[3].jpg" alt="Автор спит">
        <img src="../jpg/[4].jpg" alt="Автор спит">
        <img src="../jpg/[5].jpg" alt="Автор спит">
        <img src="../jpg/[6].jpg" alt="Автор спит">
        <img src="../jpg/[7].jpg" alt="Автор спит">
        <img src="../jpg/[8].jpg" alt="Автор спит">
    </div>
</div>