﻿@model User

@{
    ViewBag.Title = "Account";
    Layout = "_Layout";
}

<section>
    <h2>Личный кабинет</h2>
    <label for="@Model.Login"></label>
    <p>
        @Model.Login
    </p>
</section>