﻿@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section>
    <div>
        <fieldset>
            <legend>Авторизация</legend>
            <form method="post">
                <div class="login">
                    <label for="login">Логин</label>
                    <input type="text" id="login" name="login">
                </div>
                <div>
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password">
                </div>
                <div>
                    <input type="submit" value="Зарегестрироваться">
                </div>
            </form>
        </fieldset>
    </div>
</section>