﻿@model Science.Pages.AdminDirectory.Admin

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col">
        <div class="card">
            <div class="d-flex justify-content-center">
                <div class="">
                    <img src="images/admin/registered_users.jpg"
                         class="card-img-top" alt="registered_users.jpg">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Регистраций</h5>
                <p class="card-text mb-0">Всего: @Model.Registrations.Key</p>
                <p class="card-text mt-1">Сегодня: @Model.Registrations.Value</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/admin/article.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Опубликовано статей</h5>
                <p class="card-text mb-0">Всего: @Model.Articles.Key</p>
                <p class="card-text mt-1">Сегодня: @Model.Articles.Value</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/admin/video.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Опубликовано видео</h5>
                <p class="card-text mb-0">Всего: @Model.Videos.Key</p>
                <p class="card-text mt-1">Сегодня: @Model.Videos.Value</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/admin/users_status.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Статусы пользователей</h5>
                <p class="card-text mb-0">Активных: @Model.StatisticUsersStatus.Active</p>
                <p class="card-text mb-0">Заблокированных: @Model.StatisticUsersStatus.Blocked</p>
                <p class="card-text mb-0">Удаленных: @Model.StatisticUsersStatus.Removed</p>
            </div>
        </div>
    </div>
</div>