﻿@using Science.Models
@model IEnumerable<Science.Models.User>
@foreach (var user in Model)
{
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <a asp-page="/AccountDirectory/Account" asp-route-userid="@user.Id">
                        @user.Login
                    </a>
                </h5>
                <p class="card-text mt-1 mb-0">Фамилия: @user.SecondName</p>
                <p class="card-text mt-1 mb-0">Имя: @user.FirstName</p>
                <p class="card-text mt-1 mb-0">Регистрация: @user.Registration.ToString("dd.MM.yyyy")</p>
                <p class="card-text mt-1 mb-0">Роль: @user.Role.ToRussianLanguage()</p>
                <p class="card-text mt-1 mb-0">Статус: @user.Status.ToRussianLanguage()</p>
            </div>
        </div>
    </div>
}