﻿@model Science.Pages.AdminDirectory.Admin

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" id="users-content"></div>
<div class="mt-3 text-center">
    <form method="get" id="form-admin-users-show-more" asp-page-handler="UsersShowMore">
        <input type="submit" class="show-more" value="Показать больше">
    </form>
</div>