﻿@page "{PageId}"
@model Science.Pages.AreaDirectory.Area

<div class="row row-cols-md-2 row-cols-1">
    <div class="col-md-3 col-sm-5 text-center position-relative" style="height: 300px">
        <image path="/images/area/@Model.AreaScience?.Id/@Model.AreaScience?.ImageName"></image>
        @{
            if (Model.IsAdmin)
            {
                <div class="position-absolute bottom-0 start-0 ms-3 mb-1">
                    <div class="">
                        <form method="post">
                            <button type="submit" class="btn btn-primary" asp-page-handler="block">
                                <i class="fas fa-bullhorn"></i>
                            </button>
                        </form>
                    </div>
                </div>
            }
            if (Model.IsAccessToEdit)
            {
                <div class="position-absolute bottom-0 end-0 me-3 mb-1">
                    <div class="d-flex flex-row">
                        <div class="">
                            <button type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#modal-window-edit">
                                <i class="fas fa-edit"></i>
                            </button>
                            <partial name="Partials/AreaEditing"></partial>
                        </div>
                        <div class="ms-1">
                            <form method="post">
                                <button type="submit" class="btn btn-primary" asp-page-handler="delete">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </div>

                    </div>

                </div>
            }
        }
    </div>

    <div class="col-md-9 col-sm-7">
        <div class="text-center">
            <h1>@Model.AreaScience?.Title</h1>
        </div>
        <div>
            @Model.AreaScience?.Text
        </div>
    </div>
</div>