﻿@model Areas

<div class="modal fade" id="modal-window-add" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление научной области</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <form method="post" id="form-adding-area" enctype="multipart/form-data">
                    <label asp-for="AreaScienceVm.Title"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="AreaScienceVm.Title"/>
                        <span class="text-danger" asp-validation-for="AreaScienceVm.Title"></span>
                    </div>
                    
                    <label asp-for="AreaScienceVm.Description"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="AreaScienceVm.Description"></textarea>
                        <span class="text-danger" asp-validation-for="AreaScienceVm.Description"></span>
                    </div>
                    
                    <label asp-for="AreaScienceVm.Text"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="AreaScienceVm.Text"></textarea>
                        <span class="text-danger" asp-validation-for="AreaScienceVm.Text"></span>
                    </div>
                    
                    <label asp-for="AreaScienceVm.Image"></label>
                    <div class="mb-3">
                        <input type="file" class="form-control" accept="image/*" asp-for="AreaScienceVm.Image"/>
                        <span class="text-danger" asp-validation-for="AreaScienceVm.Image"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <input type="submit" class="btn btn-primary" value="Добавить" form="form-adding-area">
            </div>
        </div>
    </div>
</div>


