﻿@page
@model Science.Pages.AreaDirectory.Areas

<div id="area-content" class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-lg-4 g-4"></div>
<div class="mt-3 d-flex justify-content-center">
    <form method="get" id="form-area-show-more">
        <input type="submit" class="show-more" id="area-show-more" value="Показать больше">
    </form>
</div>

<partial name="AreaDirectory/AreaAdding"></partial>
<partial name="Shared/_ButtonAdd" model="@Model.CurrentUser"></partial>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}