﻿<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Index">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/ArticleDirectory/Articles">Статьи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/AreaDirectory/Areas">Научные области</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/ScientificVideo">Видео</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/ScientistDirectory/Scientists">Ученые</a>
        </li>
        <li class="nav-item me-auto">
            <a class="nav-link" asp-area="" asp-page="/SearchDirectory/Search">Поиск</a>
        </li>
        <partial name="_SwitchesNavbarPartial"></partial>
    </ul>
</div>