﻿@using Science.Models
@{
    var user = Context.Items["user"] as User;
}

<div class="btn-group pointer">
    <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
        @user?.Login
    </a>
    <ul class="dropdown-menu">
        @if (user != null && user.Role == Role.Administrator)
        {
            <li>
                <a class="dropdown-item" asp-page="/AdminDirectory/Admin">Кабинет админа</a>
            </li>
        }

        <li>
            <a class="dropdown-item" asp-area="" asp-page="/AccountDirectory/Account" asp-route-userid="@(user?.Id ?? 1)">
                Личный кабинет
            </a>
        </li>

        <li>
            <a class="dropdown-item" asp-page="/AccountDirectory/AccountEditing">Редактировать</a>
        </li>

        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <a class="dropdown-item" asp-area=""
               asp-page-handler="Exit"
               asp-page="/AccountDirectory/Account"
               asp-route-userid="@(user?.Id ?? 1)">
                Выйти
            </a>
        </li>

        @if (user?.Role != Role.Administrator)
        {
            <li>
                <form method="post" asp-page="/AccountDirectory/Account" asp-route-userid="@(user?.Id ?? 1)">
                    <input class="dropdown-item" type="submit"
                           asp-page-handler="DeleteAccount" value="Удалить аккаунт">
                </form>
            </li>
        }
    </ul>
</div>