﻿@model dynamic

<div class="mt-3">
    <ul class="pagination">
        <li class="page-item @(!Model.Pagination.ShowFirst ? "disabled" : "")">
            <a asp-page="@Model.Pagination.PageName" asp-route-CurrentPage="1" class="page-link">
                <i class="fas fa-fast-backward c-dark-grey"></i>
            </a>
        </li>

        <li class="page-item @(!Model.Pagination.ShowPrevious ? "disabled" : "")">
            <a asp-page="@Model.Pagination.PageName" asp-route-CurrentPage="@(Model.Pagination.CurrentPage - 1)" class="page-link">
                <i class="fas fa-step-backward c-dark-grey"></i>
            </a>
        </li>
        <li class="page-item  @(!Model.Pagination.ShowNext ? "disabled" : "")">
            <a asp-page="@Model.Pagination.PageName" asp-route-CurrentPage="@(Model.Pagination.CurrentPage + 1)" class="page-link">
                <i class="fas fa-step-forward c-dark-grey"></i>
            </a>
        </li>

        <li class="page-item me-auto  @(!Model.Pagination.ShowLast ? "disabled" : "")">
            <a asp-page="@Model.Pagination.PageName" asp-route-CurrentPage="@Model.Pagination.TotalPages" class="page-link">
                <i class="fas fa-fast-forward c-dark-grey"></i>
            </a>
        </li>
    </ul>
</div>