﻿@{
    if (Context.Items.ContainsKey("user"))
    {
        <partial name="_NavbarAccount"></partial>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Authorization">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Registration">Регистрация</a>
        </li>
    }
}
