﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #efedef;
}

.btn-primary {
  color: #efedef;
  background-color: #6ead3a;
  border-color: #6ead3a;
}

.btn-outline-primary {
  border: 1px solid #6ead3a;
  color: #6ead3a
}

.btn-outline-primary:hover {
  border: 1px solid #6ead3a;
  color: #4c4947;
  background-color: inherit;
}

.btn-outline-primary:active, .btn-outline-primary:focus {
  box-shadow: none;
  outline:none !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #efedef;
  background-color: #6ead3a;
  border-color: #6ead3a;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.b-top {
  border-top: 1px solid #6ead3a;
}
.b-bottom {
  border-bottom: 1px solid #6ead3a;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.input-group-append span {
  width: 45px;
  height: 100%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

* {
  font-family: "Helvetica Neue", serif;
}

.profile-img {
  height: 100px; 
  width: 100px
}
.holder {
  position: relative;
}

.block {
  background:rgba(255,255,255, 0.7);
  display:none;
  margin: 5px 15px;
  position: absolute;
  word-break: break-all;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.5s
}

.holder:hover .block {
  display: block;

}

a {
  text-decoration: none;
}

body {
  background-color: #222022;
}

a:hover, .navbar-light .navbar-nav .nav-link:hover,
.nav-link:hover, .nav-link:focus{
  color: #ceccce;
}

label, .modal-title {
  color: #4c4947;
}

.navbar-light .navbar-nav .nav-link, div {
  color: #efedef;
}

.block * {
  color: #4c4947;
}

.show-more {
  color: #6ead3a;
  background-color: inherit;
}

.card {
  background-color: #222022;
  border: 1px solid #6ead3a;
  color: #efedef;
}

.pointer {
  cursor: pointer;
}

option {
  color: #222022;
}

.w-h-500px {
  width: 500px;
  height: 500px;
}

.white {
  color: #efedef;
}

.accordion-item {
  background-color: #4c4947;
}


