.circle{
    position: relative;
    border-radius: 50%;
    border: 3px solid #969696;
    height: 150px;
    width: 150px;
    background-color: #969696;
}

button{
    position: absolute;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #707070;
    display: inline-block;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    color: white;
    z-index: 1;
}

button:hover{
    background-color: blueviolet;
    cursor: pointer;
    z-index: 2;
}

button:hover::after{
    position: fixed;
    font-size: 6px;
    color: grey;
    padding: 2px;
    width: auto;
    height: auto;
    background: white;
    border-radius: 2px;
    border: black solid 1px;
    content: attr(data-title);
    transform: translate(-20px, 28px);
    font-weight: normal;
}

.button_twitter{
    margin-top: 15px;
    margin-left: 10px;
}

.button_vk{
    margin-top: -5px;
    margin-left: 35px;
}

.button_vk:hover::after{
    transform: translate(-10px, 8px);
}

.button_facebook{
    margin-top: 42px;
    margin-left: -8px;
}

.button_envelope{
    margin-top: 130px;
    margin-left: 63px;
}

.line{
    display: flex;
    list-style-type: none;
    padding: 0;
}

.line li{
    padding-right: 20px;
}

.fa-twitter {
    color: white;
}
