﻿@using Project.Extensions
@model IEnumerable<string>

@{
    ViewBag.Title = "File Manager";
    Layout = "_Layout";
    var isAuthorized = Context.FindUser() is not null;
}

<div class="container">
    <main class="container-width">
        <section>
            <form method="post" id="save-file" asp-action="SaveFile">
                <label for="txt-file"></label>
                <textarea id="txt-file" name="content"></textarea>
                <span id="txt-file-validation"></span>
                <input id="inp-file-name" type="hidden" value="" name="fileName">
                @if (isAuthorized)
                {
                    <input type="submit" value="Сохранить">
                }
            </form>
        </section>
        @if (isAuthorized)
        {
            <section>
                <fieldset>
                    <legend>Добавление файла</legend>
                    <form id="form-add-file" method="post" asp-action="AddFile" enctype="multipart/form-data">
                        <input id="input-file" type="file" name="file">

                        <input type="submit" value="Добавить">
                    </form>
                </fieldset>
            </section>
        }

        <section>
            <fieldset>
                <legend>Список файлов</legend>
                <ol>
                    @foreach (var e in Model)
                    {
                        <li>
                            @e
                            @if (System.IO.Path.GetExtension(e) == ".txt")
                            {
                                <button class="btn-show-txt" value="@e">Open</button>
                            }

                            <a class="btn-download" asp-controller="File" asp-action="DownloadFile" asp-route-fileName="@e" download="@e">Download</a>
                            @if (isAuthorized)
                            {
                                <form method="post" asp-action="DeleteFile">
                                    <input type="hidden" value="@e" name="fileName">
                                    <input type="submit" value="Удалить">
                                </form>
                            }
                        </li>
                    }
                </ol>
            </fieldset>
        </section>
    </main>
</div>

@section Scripts
{
    <script src="js/file_script.js"></script>
}