﻿@using Science.Models
@model IEnumerable<AreaScience>

@foreach (var area in Model)
{
    <div class="holder text-center">
        <div class="col">
            <div class="card h-100">
                <img src="images/area/@area.Id/@area.ImageName" class="card-img-top h-100" alt="...">
                <div class="card-body">
                    <a asp-page="Area" asp-route-pageId="@area.Id">
                        <h5 class="card-title">@area.Title</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="block c-dark-grey">
            @(area.Description ?? string.Join("", area.Text.Take(300)) + "...")
        </div>
    </div>
}