﻿@using Science.Models
@model Account

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Страницы научных областей
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>
                    @foreach (var area in Model.AccountUser.AreaSciences.Where(area => area.Status == Status.Removed))
                    {
                        <div class="d-flex flex-row my-1">
                            <form method="post" asp-page="/AreaDirectory/Area" asp-route-pageid="@area.Id" asp-page-handler="Restore">
                                <button class="btn btn-primary me-2" type="submit">
                                    <i class="fas fa-trash-restore"></i>
                                </button>
                            </form>

                            @area.Title
                        </div>
                    }
                </strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Страницы ученых
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>
                    @foreach (var scientist in Model.AccountUser.Scientists.Where(sc => sc.Status == Status.Removed))
                    {
                        <div class="d-flex flex-row my-1">
                            <form method="post" asp-page="/ScientistDirectory/Scientist" asp-route-pageid="@scientist.Id" asp-page-handler="Restore">
                                <button class="btn btn-primary me-2" type="submit">
                                    <i class="fas fa-trash-restore"></i>
                                </button>
                            </form>
                            @scientist.FirstName @scientist.SecondName
                        </div>
                    }
                </strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Статьи
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>
                    @foreach (var article in Model.AccountUser.Articles.Where(art => art.Status == Status.Removed))
                    {
                        <div class="d-flex flex-row my-1">
                            <form method="post" asp-page="/ArticleDirectory/Article" asp-route-pageid="@article.Id" asp-page-handler="Restore">
                                <button class="btn btn-primary me-2" type="submit">
                                    <i class="fas fa-trash-restore"></i>
                                </button>
                            </form>

                            @article.Title
                        </div>
                    }
                </strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Видео
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>
                    @foreach (var video in Model.AccountUser.Videos.Where(v => v.Status == Status.Removed))
                    {
                        <div class="d-flex flex-row my-1">
                            <form method="post" asp-page="/ScientificVideo" asp-route-VideoRestoredId="@video.Id" asp-page-handler="Restore">
                                <button class="btn btn-primary me-2" type="submit">
                                    <i class="fas fa-trash-restore"></i>
                                </button>
                            </form>
                            
                            @video.Title
                        </div>
                    }
                </strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                Научные труды
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>
                    @foreach (var sw in Model.AccountUser.ScientificWorks.Where(v => v.Status == Status.Removed))
                    {
                        <div class="d-flex flex-row my-1">
                            <form method="post" asp-page="/ScientistDirectory/Scientists" asp-route-Restore="@sw.Id" asp-page-handler="WorkRestore">
                                <button class="btn btn-primary me-2" type="submit">
                                    <i class="fas fa-trash-restore"></i>
                                </button>
                            </form>
                            @sw.Title
                        </div>
                    }
                </strong>
            </div>
        </div>
    </div>
</div>