﻿@using Science.Models
@model Account

<div class="card-group" style="border-radius: 5px">
    <div class="card">
        <div class="card-body">
            <p class="card-text">Роль:             @Model?.AccountUser?.Role.ToRussianLanguage()</p>
            <p class="card-text">Никнейм:          @Model?.AccountUser?.Login</p>
            <p class="card-text">Имя:              @Model?.AccountUser?.FirstName</p>
            <p class="card-text">Фамилия:          @Model?.AccountUser?.SecondName</p>
            <p class="card-text">Отчество:         @Model?.AccountUser?.Patronymic</p>
            <p class="card-text">День рождения:    @Model?.AccountUser?.Birth?.ToString("yy-MM-dd")</p>
            <p class="card-text">Дата регистрации: @Model?.AccountUser?.Registration.ToString("yy-MM-dd")</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <div class="card-title">Обо мне</div>
            <div class="">@Model?.AccountUser?.AdditionalInformation</div>
        </div>
    </div>
</div>



