.registration_title{
    background-color: dodgerblue;
    color: white;
    font-size: xx-large;
    padding: 20px 0px 20px 50px;
    border-left: blue solid 3px;
    border-right: blue solid 3px;
    border-top: blue solid 3px;
    width: 300px;
}

.line{
    background-color: white;
    color: white;
    height: 3px;
    border-left: blue solid 3px;
    border-bottom: none;
    border-top: none;
    border-right: blue solid 3px;
    margin: 0;
    width: 350px;
}

.registration_body{
    background-color: dodgerblue;
    color: white;
    font-size: large;
    padding: 25px 75px 0px 50px;
    border-left: blue solid 3px;
    border-right: blue solid 3px;
    border-bottom: blue solid 3px;
    width: 100%;
}

.password{
    margin-top: 20px;
}

.line_search_1{
    width: 100%;
}

.line_search_2{
    display: inline;
    width: 100px;
}

.line_search_3{
    position: absolute;
    left: 186px;
    width: 100px;
    display: inline-block;
}

.indent{
    display: inline-block;
    margin-left: 65px;
}

.button_send{
    margin: 20px 0px 20px 0px;
    width: 80px;
    background-color: darkkhaki;
    border: none;
}

.button_send:active{
    background-color: darkorange;
}

body{
    width: 225px;
}