﻿@page
@model Science.Pages.AccountDirectory.AccountEditing

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body p-5">
                <div class="text-center">
                    <h3 class="card-title">Редактирование аккаунта</h3>
                </div>

                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data">
                    <div class="w-100 h-100 position-relative">
                        <div class="text-center">
                            <label asp-for="AccountEditingVm.ProfilePicture" class="">
                                <img class="profile-img rounded-circle"
                                     id="img"
                                     src="/images/profile/@Model.CurrentUser?.Id/profile.@Model.CurrentUser?.ProfilePictureExtension"
                                     alt="Не удалось загрузить изображение">
                            </label>
                        </div>
                        <span class="text-danger" asp-validation-for="AccountEditingVm.ProfilePicture"></span>
                        <div class="mb-3 position-absolute top-0 start-0 w-100 h-100" style="opacity: 0">
                            <input type="file" accept="image/*" asp-for="AccountEditingVm.ProfilePicture"
                                   class="w-100 h-100"
                                   style="">
                        </div>
                    </div>


                    <label asp-for="AccountEditingVm.AdditionalInformation"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="AccountEditingVm.AdditionalInformation">
                        </textarea>
                        <span class="text-danger" asp-validation-for="AccountEditingVm.AdditionalInformation"></span>
                    </div>

                    <label asp-for="AccountEditingVm.PhoneNumber"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="AccountEditingVm.PhoneNumber">
                        <span class="text-danger" asp-validation-for="AccountEditingVm.PhoneNumber"></span>
                    </div>

                    <label asp-for="AccountEditingVm.Birth"></label>
                    <div class="mb-3">
                        <input class="form-control" type="date" asp-for="AccountEditingVm.Birth">
                        <span class="text-danger" asp-validation-for="AccountEditingVm.Birth"></span>
                    </div>

                    <label asp-for="AccountEditingVm.Email"></label>
                    <div class="mb-3">
                        <input type="email" class="form-control" asp-for="AccountEditingVm.Email">
                        <span class="text-danger" asp-validation-for="AccountEditingVm.Email"></span>
                    </div>

                    <label asp-for="AccountEditingVm.Patronymic"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="AccountEditingVm.Patronymic">
                        <span class="text-danger" asp-validation-for="AccountEditingVm.Patronymic"></span>
                    </div>

                    <div class="d-flex justify-content-between">
                        <input class="btn btn-primary" type="submit" value="Изменить">
                        <input class="btn btn-primary" type="submit" asp-page-handler="back" value="К аккаунту">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}