﻿@page "{UserId:int?}"
@using Science.Models
@model Science.Pages.AccountDirectory.Account

@{
    var isPageAdmin = Model.AccountUser?.Role == Role.Administrator;
    var pathToImage = Model.AccountUser?.ProfilePictureExtension is null
        ? "/images/default_user.jpg"
        : $"/images/profile/{Model.AccountUser?.Id}/profile.{Model.AccountUser?.ProfilePictureExtension}";
}
<div class="d-flex align-items-start">
    <div class="col-2 me-5" align-items-center>
        <div class="mb-3">
            <div style="height: auto; width: auto">
                <image class=""
                       path="@pathToImage">
                </image>
            </div>
        </div>
        <div class="nav flex-column nav-pills" aria-orientation="vertical">
            <button class="nav-link active"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-home"
                    type="button">
                Информация
            </button>
            @if (Model.IsHostAccount || Model.IsAdmin)
            {
                <button class="nav-link"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile"
                        type="button">
                    Корзина
                </button>
            }
            @if (Model.IsAdmin && !isPageAdmin)
            {
                <div class="text-center">
                    <div class="my-2">
                        <form method="post">
                            <div class="input-group mb-3">
                                <select class="form-control" asp-for="Status" aria-describedby="form-status">
                                    <option value="@Status.Active">@Status.Active.ToRussianLanguage()</option>
                                    <option value="@Status.Blocked">@Status.Blocked.ToRussianLanguage()</option>
                                </select>
                                <button id="form-status" class="btn btn-primary" type="submit" asp-page-handler="Status">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </form>
                    </div>
                    <form method="post">
                        <div class="input-group mb-3">
                            <select class="form-control" asp-for="Role" aria-describedby="form-role">
                                <option value="@Role.Moderator">@Role.Moderator.ToRussianLanguage()</option>
                                <option value="@Role.Publisher">@Role.Publisher.ToRussianLanguage()</option>
                                <option value="@Role.CommonUser">@Role.CommonUser.ToRussianLanguage()</option>
                            </select>
                            <button id="form-role" class="btn btn-primary" type="submit" asp-page-handler="Role">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </form>
                </div>
            }
        </div>
    </div>
    <div class="col tab-content">
        <div class="tab-pane fade show active" id="v-pills-home">
            <partial name="Partials/AccountMainInformation"></partial>
        </div>
        @if (Model.IsHostAccount || Model.IsAdmin)
        {
            <div class="tab-pane fade" id="v-pills-profile">
                <partial name="Partials/AccountAdditionalInformation"></partial>
            </div>
        }
    </div>
</div>