﻿@using Science.Models
@model System.Collections.Generic.IEnumerable<Science.Models.CommentArticle>

@foreach (var comment in Model)
{
    var isModerator = Context.Items["user"] is User { Role: Role.Administrator or Role.Moderator };
    var pathToImage = comment.Sender.ProfilePictureExtension is null
        ? "/images/default_user.jpg"
        : $"/images/profile/{comment.Sender.Id}/profile.{comment.Sender.ProfilePictureExtension}";

    <div style="border-left: 2px solid #6ead3a">
        <div class="px-3">
            <div class="d-flex justify-content-between mt-2">
                <div class="d-flex flex-row">
                    <div class="">
                        <img src="@pathToImage"
                             width="40"
                             class="rounded-circle"
                             alt="Ошибка">
                    </div>
                    <div class="d-flex flex-column ms-2">
                        <h6 class="mb-0">
                            <a asp-page="/AccountDirectory/Account" asp-route-userid="@comment.Sender.Id">
                                @comment.Sender.SecondName @comment.Sender.FirstName
                            </a>
                        </h6>
                        <span class="date">
                            @comment.Publication.ToString("dd.MM.yyy hh:mm:ss t z")
                        </span>
                    </div>
                </div>
                @if (isModerator)
                {
                    <form method="post" asp-page="/ArticleDirectory/Article">
                        <input type="hidden" name="blockedCommentId" value="@comment.Id">
                        <button class="btn btn-primary btn-sm"
                                type="submit"
                                style="font-size: x-small"
                                asp-page-handler="BlockComment">
                            <i class="fas fa-ban"></i>
                        </button>
                    </form>
                }
            </div>
            <p>
                @comment.Text
            </p>
        </div>
    </div>
}