﻿@page
@model Science.Pages.AdminDirectory.Admin

<div class="mb-3">
    <div class="d-flex justify-content-center">
        <div class="nav nav-pills">
            <button class="nav-link active p-1 me-2"
                    data-bs-toggle="pill"
                    data-bs-target="#statistic">
                Статистика
            </button>
    
            <button class="nav-link p-1"
                    data-bs-toggle="pill"
                    data-bs-target="#users">
                Пользователи
            </button>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="statistic">
            <partial name="Partials/AdminStatistic"></partial>
        </div>
        <div class="tab-pane fade" id="users">
            <partial name="Partials/AdminUsers"></partial>
        </div>
    </div>
</div>