﻿@page
@model Science.Pages.Authorization

<div class="row justify-content-center">
    <div class="col-12 col-md-7">
        <div class="card">
            <div class="card-body p-5">
                <div class="text-center">
                    <h3 class="card-title">Авторизация</h3>
                </div>
                	
                <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post">
                    <label class="white" asp-for="AuthorizationViewModel.Login"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="AuthorizationViewModel.Login"/>
                        <span class="text-danger" asp-validation-for="AuthorizationViewModel.Login"></span>
                    </div>
                    <label class="white" asp-for="AuthorizationViewModel.Password"></label>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="password" class="password form-control" asp-for="AuthorizationViewModel.Password"/>
                            <div class="input-group-append">
                                <span class="input-group-text"><i id="authorization-show-hide-password" class="far fa-eye-slash"></i></span>
                            </div>
                        </div>
                        <span class="text-danger" asp-validation-for="AuthorizationViewModel.Password"></span>
                    </div>
                    
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="AuthorizationViewModel.IsRememberedMe">
                            <label class="form-check-label white" asp-for="AuthorizationViewModel.IsRememberedMe"></label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-md-between flex-column flex-md-row">
                        <input class="btn btn-primary mb-md-0 mb-2" type="submit" value="Войти" asp-page-handler="Authorization">
                        <input class="btn btn-primary" type="submit" value="Восстановить аккаунт" asp-page-handler="Recovery">
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
  <partial name="Shared/_ValidationScriptsPartial"></partial>
}


