﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}
<div class="d-flex flex-md-row flex-column">
    <div class="d-flex justify-content-md-start justify-content-center w-50">
        <div>
            <h3>
                Добро пожаловать на сайт любителей науки!
            </h3>
            <h4>
                Здесь вас ждут:
            </h4>
            <ul>
                <li>
                    Биографии ученых со всего мира
                </li>
                <li>
                    Описания научных сфер
                </li>
                <li>
                    Познавательные статьи на различные темы
                </li>
                <li>
                    А также научно-популярные видео развлекательного характера!
                </li>
            </ul>

            <h4>
                Не знаешь с чего начать?
            </h4>
            <a asp-page="/ArticleDirectory/Articles" class="btn btn-primary">
                Жми
            </a>
        </div>
    </div>
    <div class="ms-0 ms-md-3 w-50" style="max-width: 1000px; max-height: 660px">
        <div class="d-flex justify-content-center justify-content-md-end w-100 h-100">
            <div id="carouselExampleCaptions" class="carousel slide w-100 h-auto" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" style="
                    border-left: 2px solid #6ead3a; 
                    padding-left: 3px; 
                    padding-top: 3px;
                    border-top: 2px solid #6ead3a;">
                    <div class="carousel-item active">
                        <img src="images/einstein.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Альберт Эйнштейн</h5>
                            <p>Немецкий физик</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/newton.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Исаак Ньютон</h5>
                            <p>Британский физик</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/tesla.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Никола Тесла</h5>
                            <p>Сербский изобретатель</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
    </div>
</div>