@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div style="max-width: 800px">
            <h4 class="text-center">
                Прочитать о политике конфиденциальности, действующей на данном сайте вы можете по кнопке ниже
            </h4>
        </div>
        
        <div class="text-center">
            <button class="btn btn-primary">
                <a href="privacy.docx" download="privacy.docx">
                    Загрузить файл
                </a>
            </button>
        </div>
    </div>
</div>
