﻿@page
@model Science.Pages.Registration

<div class="row justify-content-center">
  <div class="col-12 col-md-7">
    <div class="card">
      <div class="card-body p-5">
        <div class="text-center">
          <h3 class="card-title">Регистрация</h3>
        </div>
        <form method="post">
          <label class="white" asp-for="RegistrationViewModel.FirstName"></label>
          <div class="mb-3">
            <input class="form-control" asp-for="RegistrationViewModel.FirstName"/>
            <span class="text-danger" asp-validation-for="RegistrationViewModel.FirstName"></span>
          </div>

          <label class="white" asp-for="RegistrationViewModel.SecondName"></label>
          <div class="mb-3">
            <input class="form-control" asp-for="RegistrationViewModel.SecondName"/>
            <span class="text-danger" asp-validation-for="RegistrationViewModel.SecondName"></span>
          </div>

          <label class="white" asp-for="RegistrationViewModel.Login"></label>
          <div class="mb-3">
            <input class="form-control" asp-for="RegistrationViewModel.Login"/>
            <span class="text-danger" asp-validation-for="RegistrationViewModel.Login"></span>
          </div>          
          
          <label class="white" asp-for="RegistrationViewModel.Password"></label>
          <div class="mb-3">
            <div class="input-group">
              <input type="password" class="password form-control" asp-for="RegistrationViewModel.Password"/>
              <div class="input-group-append">
                <span class="input-group-text"><i id="show-hide-password" class="far fa-eye-slash"></i></span>
              </div>
            </div>
            <span class="text-danger" asp-validation-for="RegistrationViewModel.Password"></span>
          </div>

          <label class="white" asp-for="RegistrationViewModel.ConfirmedPassword"></label>
          <div class="mb-3">
            <div class="input-group">
              <input type="password" class="password form-control" asp-for="RegistrationViewModel.ConfirmedPassword"/>
              <div class="input-group-append">
                <span class="input-group-text"><i id="show-hide-confirmed-password" class="far fa-eye-slash"></i></span>
              </div>
            </div>
            <span class="text-danger" asp-validation-for="RegistrationViewModel.ConfirmedPassword"></span>
          </div>
          
          <div>
            <input class="btn btn-primary" type="submit" value="Зарегистрироваться">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <partial name="Shared/_ValidationScriptsPartial"></partial>
}


