﻿@page "{CurrentPage:int?}"
@model Science.Pages.ScientificVideo
@{
    ViewData["Title"] = "Video";
}

@foreach (var video in Model.Videos)
{
    <div class="b-1px-solid-green rounded mb-2">
        <div class="m-3">
            <div class="text-break text-center">
                <h2>@video.Title</h2>
            </div>
            <div class="d-flex justify-content-center justify-content-md-start flex-md-row flex-column">
                <div class="d-flex justify-content-center justify-content-md-start position-relative">
                    <iframe src="@video.Link"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    @if (Model.IsAdmin)
                    {
                        <div class="position-absolute bottom-0 start-0 ms-1 mb-1">
                            <div class="">
                                <form method="post">
                                    <input type="hidden" asp-for="VideoBlockedId" value="@video.Id">
                                    <button type="submit" class="btn btn-primary" asp-page-handler="block">
                                        <i class="fas fa-bullhorn"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                    @if (video.Publisher == Model.CurrentUser)
                    {
                        <div class="position-absolute bottom-0 end-0 me-1 mb-1">
                            <div class="d-flex flex-row">
                                <div class="ms-1">
                                    <form method="post">
                                        <input type="hidden" asp-for="VideoDeletedId" value="@video.Id">
                                        <button type="submit" class="btn btn-primary" asp-page-handler="delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="text-break ms-3">@video.Description</div>
            </div>

            <div class="mt-3">@video.Publication.ToString("dd.MM.yyyy hh:mm:ss t z")</div>
        </div>
    </div>
}
<partial name="Shared/_ButtonAdd" model="@Model.CurrentUser"></partial>
<partial name="Shared/_Pagination" model="@Model"></partial>
<partial name="Video/VideoPageAdding"></partial>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}
