.circle_in{
    position: absolute;
    top: 45px;
    left: 45px;
    height: 220px;
    width: 220px;
    background-color: #ECF5E4;
    border-radius: 50%;
    text-align: center;
    font: 50px/220px "Times New Roman";
}

.circle_out{
    background-image:
            linear-gradient(220deg, transparent 50%, #95CD8B 50%),
            linear-gradient(130deg, #95CD8B 50%, transparent 50%);
    height: 300px;
    width: 300px;
    background-color: #D0E6BB;
    border-radius: 50%;
}

.square_black{
    position: absolute;
    margin-top: 50px;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #888;
    background-color: black;
}

.square_white{
    position: absolute;
    top: 75px;
    left: 75px;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #888;
    background-color: white;
}



