﻿@page
@model Science.Pages.SearchDirectory.Search

<div class="text-center">
    <h3>Поиск</h3>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="mb-3">
            <form method="get" asp-page-handler="Search">
                <input type="hidden" name="handler" value="search"/>
                <label class="white" asp-for="SearchSettings.Title"></label>
                <div class="mb-1">
                    <input class="form-control" asp-for="SearchSettings.Title"/>
                    <span class="text-danger" asp-validation-for="SearchSettings.Title"></span>
                </div>

                <label class="white" asp-for="SearchSettings.Entities"></label>
                <div class="mb-1">
                    <select type="date" class="form-control" asp-for="SearchSettings.Entities" asp-items="Model.EntitiesOptions"></select>
                    <span class="text-danger" asp-validation-for="SearchSettings.Entities"></span>
                </div>

                <label class="white" asp-for="SearchSettings.Start"></label>
                <div class="mb-1">
                    <input type="date" class="form-control" asp-for="SearchSettings.Start"/>
                    <span type="date" class="text-danger" asp-validation-for="SearchSettings.Start"></span>
                </div>

                <label class="white" asp-for="SearchSettings.End"></label>
                <div class="mb-1">
                    <input type="date" class="form-control" asp-for="SearchSettings.End"/>
                    <span type="date" class="text-danger" asp-validation-for="SearchSettings.End"></span>
                </div>

                <label class="white" asp-for="SearchSettings.SearchOrderBy"></label>
                <div class="mb-1">
                    <select type="date" class="form-control" asp-for="SearchSettings.SearchOrderBy" asp-items="Model.SearchOrderByOptions"></select>
                    <span class="text-danger" asp-validation-for="SearchSettings.SearchOrderBy"></span>
                </div>

                <div class="mt-3 text-center">
                    <input class="btn btn-primary" type="submit" value="Найти">
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="Partials/SearchResults"></partial>


@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}