﻿@model Science.Pages.ScientistDirectory.Scientists
<div class="modal fade" id="modal-window-add" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <form method="post" id="form-adding-video" enctype="multipart/form-data">
                    <label asp-for="ScientistVm.Photo"></label>
                    <div class="mb-3">
                        <input type="file" accept="image/*" class="form-control" asp-for="ScientistVm.Photo"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.Photo"></span>
                    </div>

                    <label asp-for="ScientistVm.FirstName"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="ScientistVm.FirstName"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.FirstName"></span>
                    </div>

                    <label asp-for="ScientistVm.SecondName"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="ScientistVm.SecondName"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.SecondName"></span>
                    </div>

                    <label asp-for="ScientistVm.Patronymic"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="ScientistVm.Patronymic"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.Patronymic"></span>
                    </div>

                    <label asp-for="ScientistVm.Birth"></label>
                    <div class="mb-3">
                        <input type="date" class="form-control" asp-for="ScientistVm.Birth"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.Birth"></span>
                    </div>

                    <label asp-for="ScientistVm.Death"></label>
                    <div class="mb-3">
                        <input type="date" class="form-control" asp-for="ScientistVm.Death"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.Death"></span>
                    </div>

                    <label asp-for="ScientistVm.AreaSciencesId"></label>
                    <div class="mb-3">
                        <select type="date" class="form-control" asp-for="ScientistVm.AreaSciencesId" asp-items="Model.Options"></select>
                        <span class="text-danger" asp-validation-for="ScientistVm.AreaSciencesId"></span>
                    </div>

                    <label asp-for="ScientistVm.Biography"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="ScientistVm.Biography"></textarea>
                        <span class="text-danger" asp-validation-for="ScientistVm.Biography"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <input type="submit" class="btn btn-primary" value="Добавить" form="form-adding-video">
            </div>
        </div>
    </div>
</div>