﻿@using Science.Models
@model Science.Pages.ScientistDirectory.Scientist
@{
    var sc = Model.ScientistModel;
    var isDie = sc.Death is not null;
}

<div>
    @sc.SecondName @sc.FirstName @(isDie ? "был" : "является") ученым в следующих сферах:
    <ul>
        @foreach (var area in sc.AreaSciences)
        {
            <li>
                <a asp-page="/AreaDirectory/Area" asp-route-pageId="@area.Id">
                    @area.Title
                </a>
            </li>
        }
    </ul>
</div>

<div>
    <div class="text-center">
        <h5>
            Вклад в науку
        </h5>
    </div>
    <div>
        <div class="row">
            <div class="col-4 text-center  b-1px-solid-green">Название</div>
            <div class="col-4 text-center  b-1px-solid-green">Другие ученые</div>
            <div class="col-4 text-center  b-1px-solid-green">Действия</div>
        </div>
        @foreach (var work in sc.ScientificWorks)
        {
            <div class="row">
                <div class="col-4 b-1px-solid-green">
                    <a href="@work.Link">@work.Title</a>
                </div>
                <div class="col-4 b-1px-solid-green">
                    @foreach (var otherSc in work.Scientists.Except(new[] {sc}))
                    {
                        <p class="my-1">
                            <a asp-page="/ScientistDirectory/Scientist" asp-route-PageId="@otherSc.Id">
                                @otherSc.SecondName @otherSc.FirstName
                            </a>
                        </p>
                    }
                </div>
                <div class="col-4 b-1px-solid-green">

                    <div class="py-1">
                        @if (Model.IsAdmin || Model.CurrentUser is not null && Model.CurrentUser.Role == Role.Moderator)
                        {
                            <div class="my-1">
                                <form method="post" asp-page-handler="WorkBlock">
                                    <input type="hidden" value="@work.Id" asp-for="Block">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Заблокировать">
                                </form>
                            </div>
                            
                            <div class="my-1">
                                <form method="post" asp-page-handler="DeleteWorkFromOne">
                                    <input type="hidden" value="@work.Id" asp-for="DeleteFromOne">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Удалить (у текущего)">
                                </form>
                            </div>

                            <div class="my-1">
                                <form method="post" asp-page-handler="DeleteWorkFromAll">
                                    <input type="hidden" value="@work.Id" asp-for="DeleteFromAll">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Удалить">
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="ScientistDirectory/Partial/ScientificWorkAdding"></partial>