﻿@model Science.Pages.ScientistDirectory.Scientist
<div class="modal fade" id="modal-window-edit" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление научной области</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <form method="post" id="form-editing-area" enctype="multipart/form-data">
                    <div class="w-100 h-100 position-relative">
                        <div class="text-center">
                            <label asp-for="ScientistVm.Photo" class="">
                                <img class="profile-img rounded-circle"
                                     id="img"
                                     src="/images/scientist/@Model.ScientistModel.Id/@Model.ScientistModel.PhotoName"
                                     alt="Не удалось загрузить изображение">
                            </label>
                        </div>
                        <span class="text-danger" asp-validation-for="ScientistVm.Photo"></span>
                        <div class="mb-3 position-absolute top-0 start-0 w-100 h-100" style="opacity: 0">
                            <input type="file" accept="image/*" asp-for="ScientistVm.Photo"
                                   class="w-100 h-100"
                                   style="">
                        </div>
                    </div>

                    <label asp-for="ScientistVm.FirstName"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="ScientistVm.FirstName"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.FirstName"></span>
                    </div>

                    <label asp-for="ScientistVm.SecondName"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="ScientistVm.SecondName"></textarea>
                        <span class="text-danger" asp-validation-for="ScientistVm.SecondName"></span>
                    </div>

                    <label asp-for="ScientistVm.Patronymic"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="ScientistVm.Patronymic"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.Patronymic"></span>
                    </div>

                    <label asp-for="ScientistVm.Birth"></label>
                    <div class="mb-3">
                        <input type="date" class="form-control" asp-for="ScientistVm.Birth"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.Birth"></span>
                    </div>

                    <label asp-for="ScientistVm.Death"></label>
                    <div class="mb-3">
                        <input type="date" class="form-control" asp-for="ScientistVm.Death"/>
                        <span class="text-danger" asp-validation-for="ScientistVm.Death"></span>
                    </div>

                    <label asp-for="ScientistVm.Biography"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="ScientistVm.Biography"></textarea>
                        <span class="text-danger" asp-validation-for="ScientistVm.Biography"></span>
                    </div>

                    <label asp-for="ScientistVm.AreaSciencesId"></label>
                    <div class="mb-3">
                        <select class="form-control" asp-for="ScientistVm.AreaSciencesId" asp-items="Model.Options"></select>
                        <span class="text-danger" asp-validation-for="ScientistVm.AreaSciencesId"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <input type="submit"
                       class="btn btn-primary"
                       value="Изменить"
                       form="form-editing-area"
                       asp-page-handler="Edit">
            </div>
        </div>
    </div>
</div>