﻿#classmates_table th, #classmates_table td {
    border: 1px solid black;
    word-wrap: break-word;
}

.container #classmates_table {
    font-size: medium;
}

.row_inputs {
    display: flex;
    justify-content: space-between;

}

.inputs input {
    width: 100%;
}

#classmates_table th {
    cursor: pointer;
}

#classmates_table {
    table-layout: fixed;
    width: 100%;
}

.filter, .adding_student_inputs {
    display: flex;
    justify-content: center;
    margin: 3px;
}

#adding_student_form input {

    width: 100%;
}
