header {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 80px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 0 auto;
}

header button {
    width: 80px;
    height: 35px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

header button:hover {
    background-color: #b4b4b4;
}

header button:active {
    background-color: grey;
}

header a {
    margin: auto 0;
}

.container {
    margin: -1px auto 0 auto;
    height: auto;
    width: 77%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid black;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: x-large;
}
