﻿@model Science.Pages.ArticleDirectory.Article

<div class="modal fade" id="modal-window-edit" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <form method="post" asp-page-handler="Edit" id="form-add" enctype="multipart/form-data">
                    <div class="w-100 h-100 position-relative">
                        <div class="text-center">
                            <label asp-for="ArticleVm.Image" class="">
                                <img class="profile-img rounded-circle"
                                     id="img"
                                     src="/images/article/@Model.Art.Id/@Model.Art.ImageName"
                                     alt="Не удалось загрузить изображение">
                            </label>
                        </div>
                        <span class="text-danger" asp-validation-for="ArticleVm.Image"></span>
                        <div class="mb-3 position-absolute top-0 start-0 w-100 h-100" style="opacity: 0">
                            <input type="file" accept="image/*" asp-for="ArticleVm.Image"
                                   class="w-100 h-100">
                        </div>
                    </div>

                    <label asp-for="ArticleVm.Title"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="ArticleVm.Title"/>
                        <span class="text-danger" asp-validation-for="ArticleVm.Title"></span>
                    </div>

                    <label asp-for="ArticleVm.Description"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="ArticleVm.Description"></textarea>
                        <span class="text-danger" asp-validation-for="ArticleVm.Description"></span>
                    </div>

                    <label asp-for="ArticleVm.Text"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="ArticleVm.Text"></textarea>
                        <span class="text-danger" asp-validation-for="ArticleVm.Text"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <input type="submit" class="btn btn-primary" value="Изменить" form="form-add">
            </div>
        </div>
    </div>
</div>