﻿@model Science.Pages.ArticleDirectory.Articles

<div class="modal fade" id="modal-window-add" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <form method="post" asp-page-handler="Adding" id="form-add"  enctype="multipart/form-data">
                    <label asp-for="ArticleVm.Image"></label>
                    <div class="mb-3">
                        <input accept="image/*" class="form-control" asp-for="ArticleVm.Image"/>
                        <span class="text-danger" asp-validation-for="ArticleVm.Image"></span>
                    </div>
                    
                    <label asp-for="ArticleVm.Title"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="ArticleVm.Title"/>
                        <span class="text-danger" asp-validation-for="ArticleVm.Title"></span>
                    </div>
                    
                    <label asp-for="ArticleVm.Description"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="ArticleVm.Description"></textarea>
                        <span class="text-danger" asp-validation-for="ArticleVm.Description"></span>
                    </div>

                    <label asp-for="ArticleVm.Text"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="ArticleVm.Text"></textarea>
                        <span class="text-danger" asp-validation-for="ArticleVm.Text"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <input type="submit" class="btn btn-primary" value="Добавить" form="form-add">
            </div>
        </div>
    </div>
</div>