﻿.container {
    display: flex;
    justify-content: center;
}

.container-width {
    width: 50%;
}

ul.files li {
    display: flex;
}

ul.file li, form {
    display: inline;
}

.file {
    padding: 0;
} 

header {
    border: 2px solid green;
    text-align: center;
    font-size: large;
}

legend {
    color: green;
}

fieldset {
    border: 2px solid green;
}

input[type='submit'] {
    border-radius: 5px;
    border: 0;
    background-color: darkgreen;
    color: white;
}

input[type='submit']:hover {
    background-color: green;
    color: white;
}

input[type='submit']:active {
    background-color: greenyellow;
    color: black;
}

a {
    color: black;
}

