﻿@model Science.Pages.ScientificVideo

<div class="modal fade" id="modal-window-add" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление видео</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <form method="post" id="form-adding-video">
                    <label asp-for="VideoVm.Title"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="VideoVm.Title"/>
                        <span class="text-danger" asp-validation-for="VideoVm.Title"></span>
                    </div>
                    
                    <label asp-for="VideoVm.Description"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="VideoVm.Description"></textarea>
                        <span class="text-danger" asp-validation-for="VideoVm.Description"></span>
                    </div>
                    
                    <label asp-for="VideoVm.Link"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="VideoVm.Link"/>
                        <span class="text-danger" asp-validation-for="VideoVm.Link"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <input type="submit" class="btn btn-primary" value="Добавить" form="form-adding-video">
            </div>
        </div>
    </div>
</div>