@import url("../index.css");

.images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 5px;
}