﻿@model System.Collections.Generic.IEnumerable<string>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var file in Model)
{
    <p>@file</p>
    @if (Context.User.IsInRole("AdvancedUser"))
    {
        <a asp-action="OpenFile" asp-route-fileName="@file">Edit</a>
    }
}
