﻿@model Project.ViewModels.FileVm

@{
    ViewBag.Title = "title";
}

<section>
    <form asp-action="Save" method="post">
        <input type="hidden" asp-for="Name">
        <textarea asp-for="Content"></textarea>
        <button>Save</button>
    </form>
</section>
