﻿@using Science.Infrastructure.Search
@model Science.Pages.SearchDirectory.Search


@if (Model.SearchResults != null)
{
    if (!Model.SearchResults.Any())
    {
        <h2>Поиск не дал никаких результатов. Учтите, что регистр влияет на поиск</h2>
    }
    else
    {
    //string.Join("", e.Title.Take(20))@(e.Title.Length < 21 ? "" : "...")
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var e in Model.SearchResults)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="@e.FullLink">@e.Title</a></h5>
                            <p class="card-text my-1">Тип: @e.Entity.ToRussianLanguage()</p>
                            <p class="card-text my-1">Дата рождения / публикации: @e.Date.ToString("dd.MM.yyyy")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}