.editor {
	border:solid 1px #ccc;
	padding: 20px;
	min-height:200px;
}

.sample-toolbar {
	border:solid 1px #ddd;
	background:#f4f4f4;
	padding: 5px;
	border-radius:3px;
}

.sample-toolbar > span {
	cursor:pointer;
}

.sample-toolbar > span:hover {
	text-decoration:underline;
}

/*STYLES FOR EDITORS*/
.editor_css, .editor_html {
	height: 200px;
	width: 600px;
	max-height: 200px;
	overflow-x: scroll;
	overflow-y: scroll;
	border: 1px solid black;
}

#flex_editor_css, #flex_editor_html {
	display: inline-block;
	position: fixed;
}

#flex_editor_css {
	left: 700px;
}
