<div class="container">
    <script src="../js/regex.js" type="text/javascript"></script>
    <script src="../js/sorter_table.js" type="text/javascript"></script>
    <script src="../js/filter_table.js" type="text/javascript"></script>
    <script src="../js/representation_classmates_table.js" type="text/javascript"></script>
    <script src="../js/validation_student.js" type="text/javascript"></script>
    <script src="../js/adding_student_to_database.js" type="text/javascript"></script>
    <div class="adding_student_div">
        <form id="adding_student_form">
            <div class="adding_student_inputs">
                <input type="text" class="input_student" id="input_second_name" placeholder="Фамилия" name="Second Name">
                <input type="text" class="input_student" id="input_first_name" placeholder="Имя" name="First Name">
                <input type="text" class="input_student" id="input_patronymic" placeholder="Отчество" name="Patronymic">
            </div>
            
            <div class="adding_student_inputs">
                <input type="text" class="input_student" id="input_date_birth" placeholder="Дата рождения: dd.MM.yyyy" name="Date birth">
                <input type="text" class="input_student" id="input_group_number" placeholder="Номер группы: **-***" name="Group number">
                <input type="submit" id="adding_student_btn" value="Добавить студента">
            </div>
            
            <div class="filter">
                <input type="text" placeholder="Поиск по фамилии" class="filter_input" id="filter_second_name">
                <input type="text" placeholder="Поиск по имени" class="filter_input" id="filter_first_name">
                <input type="text" placeholder="Поиск по отчеству" class="filter_input" id="filter_patronymic">
            </div>
        </form>
    </div>
    
    <table id="classmates_table">
        <tr>
            <th id="second_name">Фамилия</th>
            <th id="first_name">Имя</th>
            <th id="patronymic">Отчество</th>
            <th id="date_birth">Дата рождения</th>
            <th id="group_number">Номер группы</th>
        </tr>
    </table>
    <input type="submit" id="show_more_btn" value="Показать больше">
    <input type="number" id="count_in_page" value="0">
    <span id="error_value"></span>
</div>