<div class="container">
    <form id="code_word">
        <input type="password" placeholder="Например, нарот" id="code_word_text">
        <input type="submit" id="code_word_submit">
        <span id="error_text"></span>
    </form>
</div>
