﻿@model Project.ViewModels.SignInVm

@{
    ViewBag.Title = "Sign In";
}

<section>
    <form asp-action="SignIn">
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName">
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password">
        </div>
        <button>Sign In</button>
    </form>
</section>
