﻿@model Project.ViewModels.SignUpVm

@{
    ViewBag.Title = "Sign Up";
}

<section>
    <form asp-action="SignUp">
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName">
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password">
        </div>
        <div>
            <label asp-for="IsAdvancedUser"></label>
            <input asp-for="IsAdvancedUser">
        </div>
        <button>Sign Up</button>
    </form>
</section>