﻿@model Science.Pages.AreaDirectory.Area
<div class="modal fade" id="modal-window-edit" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление научной области</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <form method="post" id="form-editing-area" enctype="multipart/form-data">
                    <div class="w-100 h-100 position-relative">
                        <div class="text-center">
                            <label asp-for="AreaVm.Image" class="">
                                <img class="profile-img rounded-circle"
                                     id="img"
                                     src="/images/area/@Model.AreaScience.Id/@Model.AreaScience.ImageName"
                                     alt="Не удалось загрузить изображение">
                            </label>
                        </div>
                        <span class="text-danger" asp-validation-for="AreaVm.Image"></span>
                        <div class="mb-3 position-absolute top-0 start-0 w-100 h-100" style="opacity: 0">
                            <input type="file" accept="image/*" asp-for="AreaVm.Image"
                                   class="w-100 h-100"
                                   style="">
                        </div>
                    </div>
                    
                    <label asp-for="AreaVm.Title"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="AreaVm.Title"/>
                        <span class="text-danger" asp-validation-for="AreaVm.Title"></span>
                    </div>

                    <label asp-for="AreaVm.Description"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="AreaVm.Description"></textarea>
                        <span class="text-danger" asp-validation-for="AreaVm.Description"></span>
                    </div>

                    <label asp-for="AreaVm.Text"></label>
                    <div class="mb-3">
                        <textarea class="form-control" asp-for="AreaVm.Text"></textarea>
                        <span class="text-danger" asp-validation-for="AreaVm.Text"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <input type="submit" 
                       class="btn btn-primary" 
                       value="Изменить" 
                       form="form-editing-area"
                       asp-page-handler="Edit">
            </div>
        </div>
    </div>
</div>