.header{
    width: 100%;
    height: 40px;
    background-color: #d2d2d2;
    border-bottom: solid #b4b4b4 6px;
}

.button1{
    margin-left: 20px;
}
.pagination button{
    width: 40px;
    height:40px;
    text-decoration: none;
    color: #b42946;
    background: 0;
    border: 0px;
}

.pagination button:focus{
    width: 40px;
    height:46px;
    text-decoration: none;
    color: black;
    background: #606060;
    border: 0px;
    border-bottom: solid black 6px;
}