.page {
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
}

.container * {
    margin: 10px;
}

input {
    border-radius: 3px;
    border: 1px solid #0b2056;
    max-width: 100px;
    width: 100%;
}

#send:hover, #login_sbm:hover {
    background-color: #a2a2a2;
}

#send:active, #login_sbm:active {
    background-color: grey;
} 