<div class="container">
    <div class="adding_student_div">
        <form id="adding_student_form">
            <div class="adding_student_inputs">
                <input type="text" id="input_second_name" placeholder="Иванов" name="Second Name">
                <input type="text" id="input_first_name" placeholder="Иван" name="First Name">
                <input type="text" id="input_patronymic" placeholder="Иванович" name="Patronymic">
            </div>
            <div class="adding_student_inputs">
                <input type="text" id="input_date_birth" placeholder="03.05.2010" name="Date birth">
                <input type="text" id="input_group_number" placeholder="11-805" name="Group number">
                <input type="submit" id="adding_student_btn" value="Добавить студента">
            </div>
            
            <div class="filter">
                <input type="text" placeholder="Поиск по фамилии" class="filter_input">
                <input type="text" placeholder="Поиск по имени" class="filter_input">
                <input type="text" placeholder="Поиск по отчеству" class="filter_input">
            </div>
            
            
        </form>
    </div>
    
    <table id="classmates_table">
        <tr>
            <th id="second_name">Фамилия</th>
            <th id="first_name">Имя</th>
            <th id="patronymic">Отчество</th>
            <th id="date_birth">Дата рождения</th>
            <th id="group_number">Номер группы</th>
        </tr>
    </table>
    <input type="submit" id="show_more_btn" name="Показать больше">
    <input type="number" id="count_in_page" value="0">
</div>