﻿@page "{CurrentPage:int?}"
@model Science.Pages.ScientistDirectory.Scientists

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var scientist in Model.ScientistsModel)
    {
        <div class="col holder">
            <div class="card">
                <img src="~/images/scientist/@scientist.Id/@scientist.PhotoName"
                     class="card-img-top h-100 w-100" style="object-fit: cover" alt="Не удалось загрузить изображение">
                <div class="card-body text-center">
                    <a asp-page="/ScientistDirectory/Scientist" asp-route-PageId="@scientist.Id">
                        <h5 class="card-title">@scientist.SecondName @scientist.FirstName @scientist.Patronymic</h5>
                    </a>
                    <p class="card-text">@scientist.Birth.ToString("dd.MM.yyyy") - @(scientist.Death?.ToString("dd.MM.yyyy") ?? "настоящее время")</p>
                </div>
            </div>

            <div class="block text-center">
                <h3>Научные области</h3>
                @foreach (var area in scientist.AreaSciences.Take(2))
                {
                    <a asp-page="/AreaDirectory/Area" asp-route-pageId="@area.Id">
                        <p>@area.Title</p>
                    </a>
                }
            </div>
        </div>
    }
</div>

<partial name="Shared/_ButtonAdd" model="@Model.CurrentUser"></partial>
<partial name="Shared/_Pagination" model="@Model"></partial>
<partial name="Partial/ScientistAdding"></partial>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}
