﻿@page "{PageId}"
@using Science.Models
@model Science.Pages.ScientistDirectory.Scientist


<div class="mt-3">
    <div class="d-flex justify-content-md-start justify-content-center">
        <div>
            <div class="col-md-auto position-relative" style="height: 200px; max-width: 200px">
                <image path="/images/scientist/@Model.ScientistModel?.Id/@Model.ScientistModel?.PhotoName"></image>

                @if (Model.IsAdmin)
                {
                <div class="position-absolute bottom-0 start-0 ms-1 mb-1">
                    <div class="">
                        <form method="post">
                            <button type="submit" class="btn btn-primary" asp-page-handler="block">
                                <i class="fas fa-bullhorn"></i>
                            </button>
                        </form>
                    </div>
                </div>
                }
                @if (Model.IsAccessToEdit)
                {
                    <div class="position-absolute bottom-0 end-0 me-1 mb-1">
                        <div class="d-flex flex-row">
                            <div class="">
                                <button type="button" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#modal-window-edit">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <partial name="Partial/ScientistEditing"></partial>
                            </div>
                            <div class="ms-1">
                                <form method="post">
                                    <button type="submit" class="btn btn-primary" asp-page-handler="delete">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="text-center">
                <h5 class="mt-1 mb-1">
                    @Model.ScientistModel?.SecondName @Model.ScientistModel?.FirstName @Model.ScientistModel?.Patronymic
                </h5>
                <h6 class="mt-1 mb-1">
                    @Model.ScientistModel?.Birth.ToString("dd.MM.yyyy") - @(Model.ScientistModel?.Death?.ToString("dd.MM.yyyy") ?? "настоящее время")
                </h6>
                @{
                    if (Model.CurrentUser is not null && Model.IsAccessToEdit)
                    {
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#modal-window-add">
                            Добавить новый труд
                        </button>
                        <partial name="Partial/ScientificWorkAdding"></partial>

                        <div class="mt-3">
                            <form method="post" asp-page-handler="UpdatingScientificWork" id="form-update">
                                <label asp-for="ScientificWorksId"></label>
                                <div class="mb-3 w-100">
                                    <select class="form-control" style="width: 100%" asp-for="ScientificWorksId"></select>
                                    <span class="text-danger" asp-validation-for="ScientificWorksId"></span>
                                </div>
                                <button class="btn btn-primary" type="submit">Добавить к существующему</button>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="w-100">
            <div class="ms-5">
                <div class="mb-3">
                    <div class="text-center">
                        <h4>Биография</h4>
                    </div>
                    <div>@Model.ScientistModel?.Biography</div>
                </div>
                <div>
                    <partial name="Partial/ScientistAddInfo"></partial>
                </div>
            </div>
        </div>

    </div>
</div>