﻿@page "{PageId=1}"
@model Science.Pages.ArticleDirectory.Article

@{
    var pathToImage = Model.Art?.ImageName is null 
        ? "/images/default.jpg" 
        : $"/images/article/{Model.Art?.Id}/{Model.Art?.ImageName}";
}
<div class="d-flex flex-column flex-md-row">
    <div class="my-0 mx-auto m-md-0">
        <div class="me-md-3 me-0" style="max-height: 300px; max-width: 300px">
            <div class="position-relative">
                <image path="@pathToImage"></image>
                @if (Model.IsAdmin)
                {
                    <div class="position-absolute bottom-0 start-0 ms-1 mb-1">
                        <div class="">
                            <form method="post">
                                <button type="submit" class="btn btn-primary" asp-page-handler="block">
                                    <i class="fas fa-bullhorn"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                }
                @if (Model.IsAccessToEdit)
                {
                    <div class="position-absolute bottom-0 end-0 me-1 mb-1">
                        <div class="d-flex flex-row">
                            <div class="">
                                <button type="button" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#modal-window-edit">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <partial name="Partial/ArticleEditing"></partial>
                            </div>
                            <div class="ms-1">
                                <form method="post">
                                    <button type="submit" class="btn btn-primary" asp-page-handler="delete">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="text-center">
                <a asp-page="/AccountDirectory/Account" asp-route-userid="@Model.Art?.Publisher.Id">
                    Публицист: @Model.Art?.Publisher.SecondName @Model.Art?.Publisher.FirstName
                </a>
            </div>
            <div class="text-center">
                Время и дата публикации: @Model.Art?.Publication
            </div>
        </div>
    </div>

    <div class="w-100 mt-5 mt-md-0">
        <div class="text-center">
            <h3>@Model.Art?.Title</h3>
        </div>

        <div>
            @Model.Art?.Text
        </div>
    </div>
</div>

<div class="my-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h4 class="text-center">Комментарии</h4>
            @if (Model.CurrentUser is not null)
            {
                <form method="post" id="form-adding-article-comment">
                    <div class="input-group mb-1">
                        <label for="input-article-comment"></label>
                        <textarea maxlength="300" id="input-article-comment" class="form-control" aria-describedby="submit-comment-article"></textarea>

                        <button type="submit" class="btn btn-primary" id="submit-comment-article">
                            <i class="far fa-comment-dots"></i>
                        </button>
                    </div>

                    <div>
                        <span id="validation-adding-comment" class="text-danger"></span>
                    </div>
                </form>
            }

            <div id="comments-content"></div>
            <div class="text-center">
                <form method="get" id="form-article-comments-show-more" asp-page-handler="ShowMore">
                    <input type="submit" class="show-more" value="Показать больше">
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}