﻿@page "{CurrentPage:int?}"
@model Science.Pages.ArticleDirectory.Articles

@foreach (var ar in Model.ArticlesModel)
{
    var pathToImage = ar.ImageName is null
        ? "/images/default.jpg"
        : $"/images/article/{ar.Id}/{ar.ImageName}";

    <div class="mb-3">
        <div class="d-flex justify-content-center justify-content-md-start flex-md-row flex-column">
            <div class="">
                <div class="" style="height: 200px; width: 200px">
                    <img src="@pathToImage"
                         alt="Не удалось загрузить изображение"
                         class="b-2px-solid-green w-100 h-100">
                </div>

                <div class="mt-1 text-center">
                    <p class="my-0">
                        <a asp-page="/AccountDirectory/Account" asp-route-userid="@ar.Publisher.Id">
                            @ar.Publisher.SecondName @ar.Publisher.FirstName
                        </a>
                    </p>
                    <p class="mt-1 mb-0">
                        @ar.Publication.ToString("dd.MM.yyyy hh:mm:ss t z")
                    </p>
                </div>
            </div>

            <div class="ms-3 w-100">
                <div class="mb-3 text-center">
                    <div class="text-break">
                        <a asp-page="/ArticleDirectory/Article" asp-route-pageid="@ar.Id">
                            <h2>@ar.Title</h2>
                        </a>
                    </div>
                </div>

                <div class="text-break">
                    @(ar.Description ?? string.Join("", ar.Text.Take(300)) + "...")
                </div>
            </div>
        </div>
    </div>
}

<partial name="Shared/_ButtonAdd" model="Model.CurrentUser"></partial>
<partial name="Partial/ArticleAdding"></partial>
<partial name="Shared/_Pagination" model="@Model"></partial>


@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}