.container {
    display: flex;
    justify-content: center;
}

.calculator  {
    width: 300px;
    height: auto;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
}

.memory_buttons, .row_buttons {
    display: flex;
}
.memory_buttons button {
    height: 30px;
    outline: none;
}

button {
    width: 100%;
    height: 35px;
}

button:hover {
    background-color: grey;
}

button, button:hover, button:active {
    outline: 0;
    border: 0;
}

.visualization_calculations {
    height: auto;
    width: 20%;
}

label {
    display: inline-block;
    color: white;
}

.visualization_calculations {
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
}

#btn_make_opposite {
    border-bottom-left-radius: 5px;
}

#btn_equal {
    border-bottom-right-radius: 5px;
}

input:focus {
    outline: 0;
}
