﻿@font-face {
    font-family: 'SegoeLight', helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #00abec;
    color: #fff;
    font-family: 'SegoeLight', helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    left: 50px;
    top: 38px;
    width: 440px;
}

.content .azureLogo {
    margin: 0 0 65px 0;
}

.content .bodyHeadline {
    margin: 35px 0 0;
    font-size: 40px;
    line-height: 43px;
}

.content .bodyContent {
    margin: 10px 0 30px 0;
    line-height: 22px;
}

.content .bodyContent a {
    color: #fff;
    text-decoration: none;
}

.content .bodyContent a:hover {
    opacity: .7;
}

.content .bodyCTA {
    color: #fff;
    display: block;
    line-height: 30px;
    height: 29px;
    width: 230px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.content .bodyCTA.longer {
    margin-top: 10px;
    width: 440px;
}

.content .bodyCTA div {
    position: absolute;
    overflow: hidden;
    width: 29px;
    height: 29px;
    float: right;
    top: 0;
    right: 0;
}

.content .bodyCTA div img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.content .bodyCTA:hover div img {
    left: -29px;
}

.content .bodyCTA:hover {
    opacity: .7;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.innerwrapper {
    width: 384px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.browser {
    position: absolute;
    display: block;
    top: 400px;
    width: 384px;
    height: 305px;
    cursor: default;
    z-index: 10;
}

.browser div {
    width: 384px;
    height: 305px;
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 200px;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bulb {
    position: fixed;
    margin-left: 20px;
    top: 0;
}

.light {
    position: fixed;
    margin-left: 53px;
    top: 0;
    opacity: 1;
}

.bottom {
    position: fixed;
    bottom: 0;
    margin-right: auto;
    margin-left: -303px;
    z-index: -1;
    height: 202px;
}